@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
  background-color: #000b00;
  color: white;
  font-family: "Roboto Mono";
  margin: auto;
  padding: 10px;
  width: 90%;
  text-align: center;
}

.border-green {
  border-style: double;
  border-width: 5px;
  border-color: #00d214;
  border-radius: 5px;
  padding: 5px 15px;
}

.no-bullets {
  list-style-type: none;
  display: inline-block;
  padding: 0;
}

.underlineRed {
  text-decoration: #ff0000 double underline;
}
.underlineGreen {
  text-decoration: #00ff00 double underline;
}
.underlineBlue {
  text-decoration: #0000ff double underline;
}

a:link {
  color: #0000ff;
}
a:visited {
  color: #5000ff;
}
a:hover {
  color: #a0a0ff;
}
a:active {
  color: #c0c0ff;
}